body{
    background-image: url('Toronto-Pan-Am-Sports-Centre-gallery-06-1920x1080.webp'); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}
@media (min-width: 750px) {.container{
    display: grid;
    grid-template-areas: 
        "title title title title title"
        "informationContainer informationContainer aboutContainer aboutContainer aboutContainer"
        "informationContainer informationContainer aboutContainer aboutContainer aboutContainer"
        "contactsContainer contactsContainer contactsContainer contactsContainer contactsContainer"
        "myProjectsContainer myProjectsContainer myProjectsContainer myProjectsContainer myProjectsContainer"
    ;
    grid-gap: 0;
    width: 700px;
    min-height: 100vh;
    background-image: radial-gradient(circle, #101d42 0%, #0d1317 100%);
    border-radius: 30px 30px 30px 30px;
    border: solid black 5px;
    color: #89d2dc;
    font-family: Arial, Helvetica, sans-serif;
}}
@media (max-width: 750px) {.container{
    display: grid;
    grid-template-areas: 
        "title"
        "informationContainer"
        "aboutContainer"
        "aboutContainer"
        "contactsContainer"
        "myProjectsContainer"       
    ;
    grid-gap: 0;
    width: 700px;
    min-height: 100vh;
    background-image: radial-gradient(circle, #101d42 0%, #0d1317 100%);
    border-radius: 30px 30px 30px 30px;
    border: solid black 5px;
    color: #89d2dc;
    font-family: Arial, Helvetica, sans-serif;
}
}
.item{
    background-color: #1a1a2e;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0px 20px;
    border: 2px solid black;
}
.flexContainerMain{
    display:flex;
    align-items: center;
    margin-top: 50px;
    min-height: 100%;
}
@media (mix-width: 750px){
    .flexContainerMain{
        justify-content: center;
    }
}
@media (max-width: 750px){
    .flexContainerMain{
        justify-content: stretch;
    }
}
@media (min-width: 750px) {.left{
    margin-left: 20px;
}
.right{ 
    margin-right: 20px;
}}
.title{
    grid-area: title;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 3;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.birthday{
    grid-area: birthday;
}
.age{
    grid-area: age;
}
.gender{
    grid-area: gender;
}
.aboutMe{
    grid-area: aboutMe;
}
.contactMe{
    grid-area: contactMe;
}
.number{
    grid-area: number;
    padding-left: 30px;
}
.email{
    grid-area: email;
    padding-left: 30px;
}
.myProjects{
    grid-area: myProjects;
}
.guess50{
    grid-area: guess50;
}
.informationContainer{
    grid-area: informationContainer;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.aboutContainer{
    grid-area: aboutContainer;
}
.contactsContainer{
    grid-area: contactsContainer;

}
.myProjectsContainer{
    grid-area: myProjectsContainer;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
a{  
    color: #1f50f1;
    padding-left: 30px;
}
a:hover {
    color: #00aaff;
    text-shadow: 0px 0px 2px #00aaff;
}
img{
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    max-width: 100%;
    height: auto;
}
